:root {
  --el-color-primary: #00bd7e !important;
  --el-fill-color-blank: transparent !important;
}

.el-button {
  --el-color-primary-light-9: transparent;
  --el-color-primary-light-5: var(--el-color-primary);
}

.el-tooltip__trigger {
  --el-border-color: none;
}

.el-select__wrapper {
  padding-left: 20px !important;
}

.el-select__selected-item {
  display: none !important;
}
